.hover__list_socials {
  @extend %list;
  display: flex;
  justify-content: space-between;
  width: 223px;
  height: 55px;
  padding: 0;
  margin: 0;
}

.hover__item_socials {
  width: 55px;
  height: 55px;
  background-color: $accent-color-yellow;
  opacity: 0;
  transition: all 0.2s linear;
}
