$headers-main-font-stack: 'Montserrat';
$headers-caption-font-stack: 'Kaushan Script';
$service-section-main-font-stack: 'Roboto';

$main-width: 1200px;
$title-font-size: 14px;
$caption-color: #999999;
$team-box-shadow: #95e1d3;
$accent-color-red: #f38181;
$main-white-color: #ffffff;
$accent-color-yellow: #fce38a;
$service-title-color: #333333;
$footer-button-color: #95e1d3;
$accent-color-red-opacity: #f38181d9;
$accent-color-yellow-opacity: #fce38ae6;
