html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    margin: 0;
}

.wrapper {
    background-image: url(../img/img-optimized/banner-min.jpg);
    background-position: center;
    min-height: 1000px;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
}

.text {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #b3b3b3;
    margin: 0;
}

.button {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    padding: 27px 0 27px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    line-height: 36px;
}

.nav-list {
    width: 615px;
    height: 36px;
    font-family: 'Montserrat', serif;
    font-size: 14px;
    text-align: center;
}

.nav-list__link {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 17px;
}

.nav-list__link::after {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fce38a;
    content: '';
    bottom: 32px;
    margin: 0 auto;
    margin-top: 12px;
    opacity: 0;
}

.nav-list__link:focus,
.nav-list__link:hover {
    color: #fce38a;
}

.nav-list__link:hover::after {
    opacity: 1;
}

.nav-list__link--icon {
    display: block;
    width: 35px;
    height: 35px;
}

.nav-list__icon {
    display: block;
    width: 20px;
    height: 20px;
    fill:#ffffff;
    margin: 0 auto;
}

.nav-list__link:hover .nav-list__icon {
    fill:#fce38a;
}

.nav-list__link--icon::after {
    display: none;
}

.first-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 580px;
}

.first-screen-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    padding: 0;
    padding-bottom: 110px;
    margin: 0;
}

.first-screen-title__pre-title {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    line-height: 86px;
    text-align: center;
    text-transform: none;
    color: #ffffff;

    padding-top: 102px;
}

.button-outline{
    display: block;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.service {
    padding-top: 92px;
}

.title-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

    padding: 0;
    margin: 0;
    margin-bottom: 65px;
}

.title-section::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    content: '';
    bottom: 32px;
    margin: 0 auto;
    margin-top: 40px;
}

.pre-title-section {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 63px;
    text-align: center;
    text-transform: none;
    color: #333333;
}

.service-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.service-list-item {
    padding-bottom: 86px;
}

.service-list-item__content {
    position: relative;
    width: 370px;
    padding-left: 80px;
    text-align: left;
    margin: 0;
}

.service-list-item__content--1::before {
    content: url(../img/img-optimized/Icon1-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__content--2::before {
    content: url(../img/img-optimized/Icon2-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__content--3::before {
    content: url(../img/img-optimized/Icon3-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__content--4::before {
    content: url(../img/img-optimized/Icon4-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__content--5::before {
    content: url(../img/img-optimized/Icon5-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__content--6::before {
    content: url(../img/img-optimized/Icon6-min.jpg);
    position: absolute;
    left: 30px;
}

.service-list-item__text {
    text-align: left;
    padding: 17px 0;
}

.team-description {
    font-family: 'Garamond', serif;
    padding-bottom: 83px;
}

.team-list__title {
    text-align: center;
    padding-top: 25px;
}

.team-list-item {
    position: relative;
    padding-bottom: 73px;
    cursor: pointer;
}

.team-list-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 440px;
    content: '';
    -webkit-box-shadow: inset -20px -20px 0 -10px #95e1d3;
            box-shadow: inset -20px -20px 0 -10px #95e1d3;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
    opacity: 0;
}

.team-list-item:hover .team-list-img::after{
    opacity: 1;
}

.team-list-item:hover .overlay{
    opacity: 1;
}

.overlay {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 350px;
    height: 440px;
    background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    opacity: 0;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;

    margin: 0;
}

.icon-list {
    margin: 0 auto;
}

.icon-list__link {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
}

.icon-svg {
    display: block;
    width: 32px;
    height: 32px;
    fill: #f38181;
    margin: 0 auto;
}

.icon-list__link:hover {
    background-color: #f38181;
}

.icon-list__link:hover .icon-svg {
    fill:#ffffff;
}

.footer {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
}

.footer__text {
    text-align: left;
    text-transform: none;
}

.footer__text--sign {
    color: #f38181;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 378px;
}

input {
    margin: 0;
    padding: 0;
}

.form__submit {
    border: none;
    background-color: #95e1d3;
}

.form__e-mail {
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    border-right: none;
    width: 228px;
    height: 43px;
}

.form__e-mail::-webkit-input-placeholder,
.form__e-mail::-moz-placeholder,
.form__e-mail:-ms-input-placeholder,
.form__e-mail::-ms-input-placeholder,
.form__e-mail::placeholder {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    color: #e7e7e7;
}


@media (-webkit-min-device-pixel-ratio:2),
       (-o-min-device-pixel-ratio:2/1),
       (min-resolution:192dpi),
       (-webkit-min-device-pixel-ratio: 2),
       (-o-min-device-pixel-ratio: 2/1),
       (min-resolution: 2dppx) {
    .wrapper {
        background-image: url(../img/img-optimized/banner@2x-min.jpg);
    }

    .service-list-item__content--1::before {
        content: url(../img/img-optimized/Icon1@2x-min.jpg);
    }

    .service-list-item__content--2::before {
            content: url(../img/img-optimized/Icon2@2x-min.jpg);
    }

    .service-list-item__content--3::before {
            content: url(../img/img-optimized/Icon3@2x-min.jpg);
    }

    .service-list-item__content--4::before {
        content: url(../img/img-optimized/Icon4@2x-min.jpg);
    }

    .service-list-item__content--5::before {
        content: url(../img/img-optimized/Icon5@2x-min.jpg);
    }

    .service-list-item__content--6::before {
        content: url(../img/img-optimized/Icon6@2x-min.jpg);
    }
}
