.title {
  font-family: $headers-main-font-stack;
  text-transform: uppercase;
  color: $service-title-color;
  font-size: $title-font-size;
  margin: 0;
}

.service__title {
  margin-bottom: 14px;
}
