.service__item {
  position: relative;
  width: 380px;
  text-align: left;
  padding-left: 82px;

  &:not(:nth-child(n + 3)) {
    margin-bottom: 100px;
  }

  &::before {
    position: absolute;
    display: inline-block;
    left: 22px;
    top: 1px;
  }

  &_photo::before {
    content: url(../images/icons/service-clock.svg);
  }

  &_web::before {
    content: url(../images/icons/sevice-graph.svg);
  }

  &_creative::before {
    content: url(../images/icons/sevice-graph.svg);
  }

  &_seo::before {
    content: url(../images/icons/service-book.svg);
  }

  &_css::before {
    content: url(../images/icons/service-house.svg);
  }

  &_digital::before {
    content: url(../images/icons/service-target.svg);
  }
}
