.header__button {
  @extend %button;
  width: 164px;
  color: $main-white-color;
  background-color: transparent;
  margin: 0 auto;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    color: $accent-color-red;
    outline: none;
  }
}
