.header__item {
  margin-right: 58px;
  position: relative;
  cursor: pointer;

  &_svg {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 17px;
    fill: $main-white-color;
  }
}

.underlined-hovered:hover::after,
.underlined-hovered:focus::after {
  content: '';
  background-color: $accent-color-yellow;
  width: 60px;
  height: 3px;
  bottom: -12px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.color-hover:hover,
.color-hover:focus {
  color: $accent-color-yellow;
  fill: $accent-color-yellow;
}
