.header__title {
  font-family: $headers-main-font-stack;
  font-weight: 700;
  font-size: 30px;
  color: inherit;
  margin: 0 auto 90px;
  line-height: 1;
  text-transform: uppercase;

  &_header {
    font-size: 150px;
    width: 900px;
    margin-bottom: 125px;
  }
}
