.header {
  font-family: $headers-main-font-stack;
  background-image: linear-gradient(
      0deg,
      $accent-color-yellow,
      $accent-color-red-opacity
    ),
    url(../images/header-image__eagle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  color: $main-white-color;
  padding-bottom: 185px;
}

@media (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(
        0deg,
        $accent-color-yellow,
        $accent-color-red-opacity
      ),
      url(../images/header-image__eagle@2x.jpg);
  }
}
